<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildHash</key>
	<string>a8e52e5efb393309b977d59d7e707550797a34a34c4e2278e3d2f8319f572ca2</string>
	<key>CFBundleIdentifier</key>
	<string>com.tiwenlab.hypersonic.helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "com.tiwenlab.hypersonic" and info[CFBundleVersion] &gt;= "1.0.0" and certificate leaf[subject.OU] = "YSM8K853CQ"</string>
	</array>
</dict>
</plist>
